body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content:center ;
}

/* Styes for Hero container */
.Hero {
  background: url(Imagess/unipics.jpg) no-repeat center center/ cover;
  min-height: 90vh;
  transition: background-image 1s ease;

  transition: all 1s ease-in-out;

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    .navb {
      background-color: rgba(10, 8, 8, 0.92);

      .navbar-toggler:hover {
        background-color: rgba(10, 8, 8, 0.5);
      }

      #menu {
        color: rgb(208, 208, 228) !important;
      }

      .navbar-nav .nav-link:hover {
        color: blue !important;
      }

      .navbar-nav .nav-link {
        color: white !important; /* Change the text color to your desired color */
        text-shadow: rgba(10, 8, 8, 1) !important;
      }
    }
  }
}

.Hero.second-image {
  color: rgb(0, 0, 0);
}

.hero {
  position: relative;
  top: 300px;
  height: 150px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.moving-element {
  position: relative;
  width: 120px;
  height: 50px;
  background-color: transparent;
  /* background-color:rgba(10, 8, 8, 0); */
  color: #fff;
  display: flex;
  border: 1px solid rgb(235, 210, 234);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 1);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-shadow: 2px 2px 8px #000000;
  transition: transform 1s ease-in-out;
}

.moving-container {
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 70px;
  height: 70px;
}

/* Common styles for moving elements */
.moving-element {
  transition: transform 1s ease; /* You can adjust the duration and easing function as needed */
}

/* Common styles for moving elements */
.moving-element {
  transition: transform 1s ease; /* You can adjust the duration and easing function as needed */
}
/* End of Styes for hero container */

/* Styes for Hero2 container */
.Hero2 {
  height: 90vh;
  transition: background-image 1s ease;
  /* background-color: rgb(9, 210, 210); */
  transition: all 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero2 {
    position: relative;
    background: url(Imagess/study2.jpg) no-repeat center center/ cover;
    height: 55%;
    width: 80%;

    border-radius: 40px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 1);
    transition: background-image 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #link {
      text-decoration: none !important;
    }

    .guide {
      position: relative;
      font-size: 400%;
      font-weight: 800;
      color: rgb(146, 143, 143);
      text-shadow: rgba(0, 0, 0, 1);
      .gdi {
        color: white;
      }
    }
    .checkout {
      position: relative;
      width: 30%;
      height: 20%;
      /* background-color:rgba(146, 143, 143, 0.8); */
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;

      font-weight: 900;
      color: #fff;
      box-shadow: 0 3px 20px rgba(0, 0, 0, 10);
      transition: all 0.4s ease-in-out;

      .checkoutChild {
        text-decoration: none;
        color: rgb(146, 143, 143);
      }
      /* }
      .checkout:hover{
        background-color:rgba(0, 0, 0, 0.7) ;
        color: rgb(146, 143, 143) !important;
      } */
    }
  }
}
.row-con {

  width: 100%;
  transition: background-image 1s ease;
  min-height: 500px;
  background-color: brown;

  .first-row {
    /* background-color: blue; */
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;

    .cll {
      width: 35%;
      /* background-color: #000000; */
      min-height: 100vh;
      transition: all 0.4s ease-in-out;
      background-color: beige;
      border-radius: 4px;
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    }

    .cll a {
      text-decoration: none;
    }
    .an:hover {
      color: blue;
    }

    .first-col {
      background-color: beige;
    }

    .official {
      position: relative;
      width: 100%;
      /* background-color: chartreuse; */
      height: 40vh;
      margin-top: 20px !important;
    }
    .off1 {
      background: url(Imagess/event.jpg) center center/ cover;
    }

    .off2 {
      background: url(Imagess/sportsE.jpg) center center/ cover;
    }
  }
}

/* Animation for screens less than 700px */
@media (max-width: 700px) {
  #element1,
  #element3,
  #element5 {
    animation: moveLeftRight 6s infinite; /* You can adjust the duration as needed */
  }

  #element2,
  #element4 {
    animation: moveRightLeft 6s infinite; /* You can adjust the duration as needed */
  }

  @keyframes moveLeftRight {
    0%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10%);
    }
    50% {
      transform: translateX(0);
    }
    75% {
      transform: translateX(10%);
    }
  }

  @keyframes moveRightLeft {
    0%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(10%);
    }
    50% {
      transform: translateX(0);
    }
    75% {
      transform: translateX(-10%);
    }
  }
}

/* Hero */
@media (max-width: 700px) {
  .moving-container {
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  .first-row {
    position: relative;
    flex-direction: column;
  }
  .cll {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100% !important;
    height: 900px;
    padding: 0 10px 0 10px;
    width: 30%;
  }
  .moving-element {
    position: relative;
    width: 80%;
  }
  .nav-item {
    position: relative;
    width: 20%;
  }
}

@media (min-width: 400px) and (max-width: 700px) {
  .guide {
    flex-direction: column !important;
    justify-content: center;
    font-size: 300% !important;
  }
  .checkout {
    height: 12% !important;
  }
}

@media (min-width: 200px) and (max-width: 399.9px) {
  .guide {
    flex-direction: column !important;
    justify-content: center;
    font-size: 200% !important;
  }

  .checkout {
    width: 35% !important;
    height: 15% !important;
  }
}
