/* .hero{
 
} */

.Hero {
  background: url(Imagess/unipics.jpg) no-repeat center center/ cover;
  height: 95vh;
  transition: background-image 1s ease;
  background-attachment: fixed;
  transition: all 1s ease-in-out;
}

.Hero.second-image {
  color: rgb(0, 0, 0); /* Text color for the second background image */
}

/* 
.Hero {
  margin-top: 56px; 
  background-image: url(/Work-project-1/Imagess/unipics.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: background-image 1s ease;
    height: 80vh;
} */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.hero {
  position: relative;
  top: 350px;
  height: 150px;
  /* background-color: white; */
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

.roll {
  background-color: crimson;
}

.moving-element {
  width: 200px;
  height: 50px;
  background-color: #3498db;
  color: #fff;
  display: flex;
 box-shadow: 0 3px 20px rgba(0, 0, 0, 1);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  transition: transform 1s ease-in-out;
}

.moving-container {
  position: relative;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
 
}

.logo {
  width: 70px;
  height: 70px;
}

@media (max-width: 700px) {
  .moving-container {
    flex-direction: column;
    position: relative;
    width: 100%;
  }

  .moving-element {
    position: relative;
    width: 80%;
  }
}
